/* ProjectItem.module.css */
.StyledCard {
  background: rgba(5, 5, 5, 0.4);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 0 auto 30px;
  color: #f3f3f3;
  border: none;
  border-radius: 25px;
  transition: 0.5s;
}

.StyledCard:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.6s;
  transform: scale(1.02);
}

.StyledImage {
  width: 70%;
  height: 0%;
  position: relative;
  top: 100px;
  object-fit: contain;
  border-radius: 25px;
  transition: 0.5s;
}

.StyledImage:hover {
  transform: translateY(-20px);
}

.StyledBody {
  margin: 0 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.StyledBadgeGroup {
  margin: 0.5rem 0;
}

.StyledBadge {
  margin: 0 0.2rem;
}

.StyledLink {
  text-decoration: none;
}

/* Define additional styles for your component if needed */
