@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(212, 212, 216);
  color: rgb(24, 24, 27);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}

@layer components {
  .glass-dark {
    background-color: rgba(107, 114, 128, 0.13);
    backdrop-filter: blur(20px);
  }
}
