/* ProjectsList.module.css */
.StyledContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.mountedStyle {
  animation: inAnimation 500ms ease-in;
}

.unmountedStyle {
  animation: outAnimation 500ms ease-out;
  animation-fill-mode: forwards;
}

/* Define additional styles for your component if needed */
